<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomBinding_IDataService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://dfz-vm136.defriesland.nl:11234/BusService.svc"
                binding="basicHttpBinding" bindingConfiguration="CustomBinding_IDataService"
                contract="IDataService" name="CustomBinding_IDataService" />
            <endpoint address="net.tcp://dfz-vm136.defriesland.nl:21234/BusService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService"
                contract="IDataService" name="NetTcpBinding_IDataService" />
        </client>
    </system.serviceModel>
</configuration>